@page
@model Lucky_Draw_Promotion.Pages.Shared.ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/forgot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
	<div class="container forgot">
		<h3>Forgot Password</h3>
		<div class="text">Enter registered e-mail to get the email with </br>  further instructions</div>
		<form method="post">
			<div class="form-control">
				<input type="text" asp-for="Model.Email" class="form-control">
				<span asp-validation-for="Model.Email" style="color:red	"></span>
			</div>
			<button type="submit" class="btn">Send Request</button>
		</form>
	</div>
</body>
</html>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}