@page
@model Lucky_Draw_Promotion.Pages.ResetPasswordModel;
@{
    ViewData["Title"] = "Reset password";
}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/recover.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<div class="container">
	<form method="post">
		<div class="text">Set new password for your account</div>
		<div asp-validation-summary="ModelOnly" style="color:red"></div>
		<div class="form-control">
			
			<input asp-for="Input.Email"  placeholder="Email" style="z"/>
			<span asp-validation-for="Input.Email" style="color:red"></span>
		</div>
		<div class="form-control">
			
			<input asp-for="Input.Password" placeholder="Password" />
			<span asp-validation-for="Input.Password" style="color:red"></span>
		</div>
		<div class="form-control">
			
			<input asp-for="Input.ConfirmPassword" placeholder=" Confirm Password" />
			<span asp-validation-for="Input.ConfirmPassword" style="color:red"></span>
		</div>
		<div class="form-control">
			<div class="g-recaptcha" data-sitekey="6LdzbqQeAAAAAOuZnZXp-bA_bwr_uhhQzvPupUsn"></div>
		</div>
		<button type="submit" class="btn ">Change Password</button>
	</form>

</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
